{% extends 'base.html.twig' %}

{% block body %}
<head>
<link rel="stylesheet" href="css/styles.css"> 
</head>

<form action="{{ path('security_login') }}" method = "post">
    <div class="container px-4 py-5 mx-auto">
        <div class="card card0">
            <div class="d-flex flex-lg-row flex-column-reverse">
                <div class="card card1">
                    <div class="row justify-content-center my-auto">
                        <div class="col-md-8 col-10 my-5">
                            <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="https://i.imgur.com/PSXxjNY.png"> </div>
                            <h3 class="mb-5 text-center heading">NAARFSH CHNUWA NHOT LENA ZEDA</h3>
                            <h6 class="msg-info">Please login to your account</h6>
                            <div class="form-group"> 
                                <label class="form-control-label text-muted">Email Address</label> 
                                <input type="text" required name ="_username" placeholder="Email Address" class="form-control"> 
                            </div>
                            <div class="form-group"> 
                                <label class="form-control-label text-muted">Password</label> 
                                <input type="password" required name="_password" placeholder="Password" class="form-control"> 
                            </div>
                            <div class="row justify-content-center my-3 px-3"> 
                                <button class="btn-block btn-color">Login to Your account ! </button> 
                            </div>
                            <div class="row justify-content-center my-2">
                                <a href="#"><small class="text-muted">Forgot Password?</small></a>
                            </div>
                        </div>
                    </div>
                    <div class="bottom text-center mb-5">
                        <p href="{{ path('security_register') }}" class="sm-text mx-auto mb-3">Don't have an account?<button class="btn btn-white ml-2">Create new</button></p>
                    </div>
                </div>
                <div class="card card2">
                    <div class="my-auto mx-md-5 px-md-5 right">
                        <h3 class="text-white">This is just a test ! </h3> <small class="text-white">Chwaya 5orm menish aarfa chnuwa besh n9oul bedhabt lehna lol.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
	

{% endblock %}