{% extends 'base.html.twig' %}

{% block title %} Add A New Category {% endblock %}
{% block body %}

{{ form_start(form, { 'attr' : { 'class': 'form' } }) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type ="submit"> Save</button>
{{ form_end(form) }}

<a href="{{ path('category') }}" class="btn btn-secondary">Back</a>

{% endblock %}